/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.wrapper-lg {
    width: 1600px;
    margin: auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.btn-green {
    background-color: #64DE82;
    font-size: 12px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #337142;
    border-radius: 5px;
    border-style: none;
    font-weight: 500;
    line-height: 1.9;
}


/* NAVIGATION MENU */
nav {
    height: 50px;
    width: 1200px;
    padding: 15px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
}

.nav-back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    z-index: 2;
    width: 100%;
}

nav img {
    width: 125px;
    display: block;
}

nav ul {
    width: calc((100% - 125px) * 0.65);
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
}

nav ul li {
    width: calc(100% / 6);
}

nav ul span, nav div li span {
    color: #001A4F;
    line-height: 50px;
    padding-left: 5px;
    vertical-align: middle;
}

nav div span {
    padding-right: 5px;
    font-size: 13px;
    vertical-align: middle;
}

nav > div {
    width: calc((100% - 125px) * 0.35);
    height: 50px;
    line-height: 50px;
}

nav > div li {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

nav > div button:first-of-type {
    background-color: transparent;
    border: 1px solid #001A4F;
    padding: 9px 25px;
    text-transform: uppercase;
    color: #001A4F;
    border-radius: 5px;
    vertical-align: middle;
}

nav > div button:first-of-type:hover {
    background-color: #001A4F;
    color: white;
    border-color: transparent;
}

nav > div button:last-of-type {
    background-color: #64DE82;
    border: 1px solid #64DE82;
    padding: 11px 25px;
    text-transform: uppercase;
    color: #001A4F;
    border-radius: 5px;
    margin: 0 15px;
    vertical-align: middle;
}

nav > div button:last-of-type {
    background-color: #64DE82;
    border: 1px solid #64DE82;
    padding: 11px 25px;
    text-transform: uppercase;
    color: #001A4F;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

nav > div button:last-of-type:hover {
    background-color: rgba(100,222,130,0.7);
    color: #fff;
    border-color: transparent;
}

nav li {
    list-style-type: none;
    text-align: center;
}

nav li a {
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #001A4F;
    font-size: 13px;
}

nav div a {
    text-decoration: none;
    text-transform: uppercase;
    color: #001A4F;
    font-size: 13px;
}

.aziende-menu, .metodo-menu, .supporto-menu, .risorse-menu, .chi-menu, .leng-menu {
    position: absolute;
    background-color: #001a4f;
    border-radius: 10px;
    text-align: left;
    height: auto;
    padding: 0;
    display: none;
}

.aziende-menu {
    width: 180px;
}

.metodo-menu {
    width: 200px;
}

.supporto-menu {
    width: 220px;
}

.risorse-menu {
    width: 110px;
}

.chi-menu {
    width: 150px;
}

.leng-menu {
    width: 50px;
}

.aziende-menu::after, .metodo-menu::after, .supporto-menu::after, .risorse-menu::after, .chi-menu::after, .leng-menu::after {
    display: block;
    content: '';
    position: absolute;
    background-color: #001a4f;
    border-top: 1px solid #001a4f;
    border-left: 1px solid #001a4f;
    width: 10px;
    height: 10px;
    top: -5px;
    transform: rotateZ(45deg);
}

.aziende-menu::after {
    right: 80px;
}

.metodo-menu:after {
    right: 110px;
}

.supporto-menu:after {
    right: 125px;
}

.risorse-menu::after {
    right: 20px;
}

.chi-menu::after {
    right: 50px;
}

.leng-menu::after {
    right: 20px;
}

.aziende-menu li, .metodo-menu  li, .supporto-menu li, .risorse-menu li, .chi-menu li, .leng-menu li {
    width: auto;
}

.aziende-menu li:nth-child(2), .metodo-menu li:nth-child(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.supporto-menu li:first-of-type, .chi-menu li:first-of-type, .leng-menu li:first-of-type {
    border-bottom: 1px solid white;
}

.aziende-menu li a, .metodo-menu li a, .supporto-menu li a, .risorse-menu li a, .chi-menu li a, .leng-menu li a {
    color: white;
    padding: 10px;
}

.aziende-menu li a:hover, .metodo-menu li a:hover, .supporto-menu li a:hover, .risorse-menu li a:hover, .chi-menu li a:hover, .leng-menuli li a:hover {
    opacity: .7;
}

nav ul li:first-of-type:hover .aziende-menu, nav ul li:nth-of-type(2):hover .metodo-menu, nav ul li:nth-of-type(3):hover .supporto-menu, nav ul li:nth-of-type(4):hover .risorse-menu, nav ul li:nth-of-type(5):hover .chi-menu {
    display: block;
}

nav div li:hover .leng-menu {
    display: block;
}


/* HEADER */
header {
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/fluentify-cover-privati-scaled.jpg);
    background-size: cover;
    background-position: 0 -250px;
    color: white;
    padding: 200px 0;
}

header::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: linear-gradient(270deg, transparent 0%, #001A4F 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header div div {
    width: 60%;
    z-index: 1;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
}

header h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 18px;
}

header p {
    font-size: 18px;
    margin: 18px 0;
    font-weight: 400;
    line-height: 1.5;
}

header button:hover {
    background-color: rgba(100,222,130,0.7);
    color: white
}

header h3, header p, header button {
    font-family: 'Maven Pro', sans-serif;
}

.msp-row-middle {
    background-color: white;
}

header .service::before, header .service::after {
    content: '';
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

header .service::before {
    top: 0;
    left: 0;
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/Filetto_verde_07.png);
    background-position: left;
    height: 280px;
    width: 210px;
}

header .service::after {
    top: 0;
    right: 0;
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/Filetto_verde_02.png);
    background-position: right;
    height: 550px;
    width: 100px;
}


/* MAIN */
/* SERVICE DESCRIPTION */
.img-service, .description-service {
    width: calc((100% - 100px) / 2);
}

.sd-row-01 {
    padding: 200px 0;
}

.img-service {
    height: 1px;
}

.img-service img {
    width: 800px;
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
}

.sd-row-01 h2 {
    font-size: 40px;
    color: #727272;
    margin-bottom: 50px;
}

.sd-row-01 h2 span {
    color: #64DE82;
}

.sd-row-01 h3 {
    font-size: 27px;
    color: #001A4F;
}

.sd-row-01 h2, .sd-row-01 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sd-row-01 p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    line-height: 1.5;
}

.sd-row-01 div div:nth-of-type(2) {
    margin: 25px 0;
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sd-row-01 h2 {
    font-size: 40px;
    color: #727272;
    margin-bottom: 50px;
}

/* ROW-TOP */
.img-service {
    margin-right: 50px
}

.description-service {
    margin-left: 50px;
}


/* ROW-BOTTOM */
.sd-row-02 {
    margin-bottom: 100px;
}

.sd-row-02 div {
    width: calc((100% - 100px) / 3);
    text-align:center;
}

.sd-row-02 div:nth-of-type(2) {
    margin: 0 50px;
}

.sd-row-02 h2, .sd-row-02 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sd-row-02 h2 {
    text-align: center;
    font-size: 40px;
    color: #727272;
    margin-bottom: 50px;
}

.sd-row-02 h3 {
    font-size: 27px;
    margin: 18px 0 9px 0;
    color: #001A4F;
}

.sd-row-02 p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    line-height: 1.5;
}

main .service::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/Filetto_02-1.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 1;
    height: 850px;
    width: 150px;
}

/* MOBILE-SECURITY-PLANS */
.mobile-security-plans > div:first-of-type {
    background-color: #001a4f;
    color: white;
}

.msp-row-top div {
    width: 50%;
    padding: 70px 0;
}

.msp-row-top img {
    margin-left: 100px;
}

.msp-row-top h2 {
    font-size: 40px;
    margin-bottom: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.msp-row-top p {
    font-size: 18px;
    margin-bottom: 18px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

.msp-row-top a {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #64DE82;
    text-decoration: none;
}

.msp-row-top a:hover {
    opacity: .7;
}

.mobile-security-plans > div:nth-of-type(2) {
    background-color: white;
    color: #001A4F;
    padding: 60px 0;
}

.msp-row-middle > div {
    width: 50%;
}

.msp-row-middle > div:last-of-type {
    height: 1px;
}

.msp-row-middle > div:last-of-type div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.msp-row-middle h2 {
    font-size: 27px;
    margin-bottom: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #001A4F;
}

.msp-row-middle p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 18px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #727272;
}

.mobile-security-plans > div:last-of-type {
    background-color: #294681;
    color: white;
}

.msp-row-bottom > div {
    width: 50%;
}

.msp-row-bottom h2 {
    font-size: 40px;
    margin-bottom: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 50px 0;
}

.msp-row-bottom p {
    font-size: 18px;
    margin-bottom: 18px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

.msp-row-bottom div:last-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.msp-row-bottom button:hover {
    background-color: rgba(100,222,130,0.7);
    color: white;
}

.mobile-security-plans::before, .mobile-security-plans::after {
    content: '';
    position: absolute;
    display: block;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.mobile-security-plans::before {
    top: 50%;
    left: 0;
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/Filetto_08-1.png);
    height: 900px;
    width: 360px;
}

.mobile-security-plans::after {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(https://www.fluentify.com/home/wp-content/uploads/2020/01/Filetto_01-1.png);
    background-size: 70%;
    background-position: right;
    height: 750px;
    width: 265px;
}


/* FOOTER */
footer {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    background-color: #001a4f;
    padding: 50px 15px;
    color: white;
    line-height: 1.5;
    margin: 0;
    font-size: 14px;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
    width: 100%;
}

footer a:hover {
    color: #64DE82;
}

.fo-right-top {
    width: 100%;
    padding-bottom: 50px;
}

.fo-right-bottom {
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.8)
}

.fo-left {
    padding-right: 100px;
    width: 20%;
}

.fo-left img {
    padding-bottom: 50px;
}

.fo-left img:hover {
    opacity: .7;
}

.fo-left span {
    text-transform: uppercase;
    font-weight: 700;
}

.fo-left a {
    display: inline-block;
    width: 20px;
    padding: 20px 0;
}

.social-icon {
    font-size: 16px;
    color: #64DE82;
}

.social-icon span:hover {
    opacity: .5;
}

.fa-facebook-f {
    margin-right: 20px;
}

.fo-right {
    width: 80%;
}

.fo-right li a {
    display: block;
    line-height: 1.5;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.8);
}

.fo-right li a:hover {
    color: #64DE82;
}

.fo-right li a:first-of-type {
    padding-top: 10px;
}

.fo-right-top ul {
    width: calc((100% - 50px) / 6);
}

.fo-right-top ul:not(:last-of-type) {
    margin-right: 10px;
}

.fo-right-bottom a {
    margin-right: 30px;
}
